*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
    box-sizing: border-box;
   
}
footer.sticky-footer{
    background-color: #343a40;
    height: 30px;

}
div.copyright{
    color: blanchedalmond;
}
