*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
    font-size: 15px;
    box-sizing: border-box;
    
}


footer.sticky-footer{
    
    position:fixed;
    left:0px;
    bottom:0px;
    background-color: #343a40;
    height: 50px;
  

}
div.copyright{
    color: blanchedalmond;
}
